body {
	font-family: 'Lato', sans-serif;
    font-weight: 200;
	font-size: 14px;
	padding-bottom: 25px;
	color: #5b5b5b;
}

/**
commons
*/
.blue {
	color: #77bce0;
}

.clickable {
	cursor: pointer;
}

.font-normal {
	font-weight: normal;
}

.font-bold {
	font-weight: bold;
}

/**
navigation
*/
.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: #FFFFFF;
	border: none;
}

.navbar-default .navbar-toggle {
	margin-top: 25px;
}

.navbar-brand {
	height: 80px;
    padding-top: 10px;
}

@media (min-width: 768px) {
	.navbar-brand {
		height: 104px;
    	padding-top: 22px;
	}

	.navbar-nav li {
		margin-top: 28px;
	}

	.dropdown-menu li {
		margin-top: 0;
	}
}

.navbar-divider {
	background-color: #77bce0;
	height: 10px;
	width: 100%;
}

/**
navigation sub
*/
.navbar-sub {
	background-color: #77bce0;
}

.navbar-sub ul {
    height: auto;
    margin: 0;
    padding: 0 15px; 
}

.navbar-sub li {
	display: inline; 
}

.navbar-sub a {
	color: #FFF;
	line-height: 64px;
	display: inline;
	margin-right: 25px;
}

.navbar-sub a:hover, .navbar-sub a.selected {
	border-bottom: 2px solid #FFF;
	padding-bottom: 3px;
	text-decoration: none;
}
.navbar-sub a:focus, .navbar-sub .back-icon a {
	text-decoration: none;
}
.navbar-sub .back-icon a {
	text-decoration: none;
	border-bottom: none;
}

@media (min-width: 768px) {
	.navbar-sub ul {
	    padding: 0; 
	}
}

.spots {
	margin: 25px 0;
}

@media (min-width: 768px) {
	.spots {
		margin: 60px 0;
	}
}

/**
content
*/
#main-container {
	margin-top: 30px;
}
.content-header {
	margin: 50px 0; 
}
.content-header .header-values {
	font-size: 18px;
}

.table > thead > tr > th {
	border-bottom: 1px solid #dedede;
	padding: 20px 0;
}

.table > tbody > tr > td {
	font-size: 18px;
	border-bottom: 1px solid #dedede;
	padding: 21px 0;
}

.content-header .header-blocks {
	padding: 0 15px 0 15px;
}

@media (min-width: 768px) {
	.content-header .header-blocks {
		padding: 0 15px 0 15px;
	}
}

.content-header {
	font-size: 16px;
}

.content-header .header-blocks .numbers {
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
}

.content-header .header-blocks .numbers.small {
	font-size: 45px;
}

.content-divider {
	background-color: #ebebeb;
	height: 2px;
	width: 100%;
	margin-bottom: 40px;
}

/**
graphs
*/
.graphs .heading {
	font-size: 18px;
	margin: 10px 0;
}

.graphs .google-graph {
	width: 100%; 
	height: 200px;
	margin: 15px 0;
}

@media (min-width: 768px) {
	.graphs .google-graph {
		height: 250px;
		margin: 30px 0;
	}
}

/**
slots maps
*/
.spots-map {
	width: 100%;
	height: 300px;
	background-color: #CCC; 
}

@media (min-width: 768px) {
	.spots-map {
		height: 400px;
	}
}

